.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.home-container.wip-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.home-container.wip-page .content-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}