.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 20%;
    color: black;
    margin: 0;
  }

.title-container .heading {
    font-size: 3rem;
}
